*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first{
    width: 200px;
    height: 100vh;
    margin: auto;
    border: 2px solid black;
    overflow: hidden auto;
    white-space: pre-wrap;
    /* text-overflow: ellipsis; */
    
}
.second{
    width: 200px;
    height: 100vh;
    margin: auto;
    border: 2px solid black;
    overflow: auto;
   white-space: pre-wrap;
    text-overflow: ellipsis;
}
.third{
    width:50vh;
    height:100vh;
    margin:auto;
    border:2px solid black;
    overflow-x: hidden;
    overflow-y: auto;
}