*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 70vw;
    height: 60vh;
    background-color: rgb(156, 112, 197);
    padding: 0.5rem;
}
.box{
    padding: 1rem;
    margin: 2rem;
    border: 1px solid black;
    max-width: fit-content;
    background-color: blueviolet;
}
.box1{
animation: practice 5s ease-in-out 2s 10 alternate forwards;
}
.box2:hover{
   animation: Practice 5s ease-in-out 1s 9 alternate backwards;
}
.box3{
    animation: try 5s ease-in-out 1s 9 alternate backwards;
}
@keyframes practice{
    from{
        
        background-color: aqua;
    }
    to{
        background-color: blueviolet;
        transform: translateX(90vw) scale(0.5) rotateY(10turn) ;
        
    }
}
@keyframes Practice {
    0%{
        background-color: aqua;
    }
    20%{
        background-color: blueviolet;
        transform: translateX(45vw);
    }
    40%{
        background-color:aquamarine;
        transform: rotate3d(1,1,1, 80deg);
    }
    70%{
        background-color: blue;
        transform: scale(2) rotateY(10turn) perspective(70px);
    }
    80%{
        background-color: azure;
        transform: scale(1);
    }
    
}
@keyframes try{
    0%, 100%{
        background-color: aqua;
    }
    50%{
        transform: translateX(45vh);
        background-color:brown;
    }
}
